node_modules/
.env
package-lock.json
03-bases-node/salida/*.txt
04-tareas-hacer/db/data.json
05-clima-app/db/database.json
07-restserver/uploads/productos/**.*
07-restserver/uploads/usuarios/**.*
11-ts-restserver/dist/
